.article {
	font-size: $font-size-medium;
	font-family: $font-secondary;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;

	@media screen and (max-width: 850px) {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: 600px) {
		max-width: unset;
	}

}
