.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-bold {
	font-weight: bold;
}

.text-medium {
	font-size: $font-size-medium;
}

.text-font-secondary {
	font-family: $font-secondary;
}

.text-font-primary {
	font-family: $font-primary;
}

.text-center-medium {
	@media screen and (max-width: 920px) {
		text-align: center;
	}
}

.text-center-small {
	@media screen and (max-width: 600px) {
		text-align: center;
	}
}
