.button-primary {
	font-family: 'Futura';
	font-size: $font-size-medium;
	line-height: 1.625rem;
	color: $white;
	padding: 1.4375rem 4.4375rem 1.3125rem 1.875rem ;
	background-color: $primary;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	position: relative;
	transition: 0.3s background;

	&:hover,
	&:focus {
		background: darken($primary, 5%);
	}
}

.button-inner {
	width: 1.5625rem;
	height: 1.5625rem;
	display: inline-block;
	position: absolute;
	right: 1.875rem;
	bottom: 50%;
	transform: translateY(50%);
}

