.container {
	max-width: 100vw;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.8rem;
}

.container-small {
	max-width: 61.25rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.8rem;
}
