@import "variables";
@import "typo";
@import "grid";
@import "buttons";
@import "links";
@import "navigation";
@import "container";
@import "footer";
@import "./components/index";
@import "./utilities/index";


* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	margin: 0;
}
