//COLORS
$text: black;
$primary: #83D0F5;
$secondary: #FFDD00;
$muted: #A9A9A9;
$light: #F8F8F8;
$white: white;
$shadow: #DEDEDE;

//FONTS
$font-primary: 'Futura';
$font-secondary: 'Accius-Buch';
$font-logo: 'URWAntiqua';

//FONT SIZES
$font-size-normal: 1.25rem;
$font-size-medium: 1.5rem;





